body {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: #f9f9f9;
  font-family: "Tangerine", cursive;
  font-size: 15 rem;
}

header h1 {
  color: #FFFF00;
}

form {
    background: white;
    padding: 15px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
}

label {
    display: block;
    margin-top: 7px;
    font-weight: bold;
    color: #000000;
}

button {
    background: #ff4081;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

button:hover {
    background: #e91e63;
}

.thank-you-message {
    color: #00000;
}

.thank-you-text {
    color: #00000;
}

@media (min-width: 600px) {
    form {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: #9ba8ad;
    }
    form {
        padding: 30px;
        box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    }
}

  
